/* Media Query for Mobile Devices */
$mobile-screen: 480px;

/* Media Query for low resolution  Tablets, Ipads */
$tablet-screen: 767px;

/* Media Query for Tablets Ipads portrait mode */
$tablet-large-screen: 1024px;

/* Media Query for Laptops and Desktops */
$desktop-screen: 1280px;

/* Media Query for Large screens */
$desktop-large-screen: 1281px;
