@font-face {
    font-family: 'NotoSans';
    src: url('../../fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

html, body {
    font-family: 'NotoSans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
